footer {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.footer-content {
    display: flex;
    align-items: center;
    gap: 15px; /* Adds space between the image and text */
}

.footer-content img {
    width: 50px; /* Adjust size as needed */
    height: 50px;
    border-radius: 50%; /* Optional: Makes the image circular */
    border: 2px solid goldenrod;
    margin-left: 10%;
}

.footer-content .footer-text {
    text-align: left;
}

.footer-content a {
    text-decoration: none;
    color: cornflowerblue;
}

.footer-content a:hover {
    color: red;
}
